[Unit]
Description = AntiCrastinator

[Service]
Type = simple
PIDFile = /var/run/anticrastinatord.pid
TimeoutStartSec = 0
ExecStart = /usr/bin/node /opt/anticrastinator/updater.js

[Install]
WantedBy = graphical.target
